<div id="login-page">
    <div class="login">
      <h2 class="login-title">Regitration</h2>
      <form class="form-login">
        <label for="email">E-mail</label>
        <div class="input-email">
          <i class="fas fa-envelope icon"></i>
          <input type="email" name="email" placeholder="Entrer votre e-mail" required>
        </div>
        <label for="password">Mot de passe</label>
        <div class="input-password">
          <i class="fas fa-lock icon"></i>
          <input type="password" name="password" placeholder="Entrer votre mot de passe" required>
        </div>
        <div class="checkbox">
          <label for="remember">
            <input type="checkbox" name="remember">
            Remember me
          </label>
        </div>
        <button type="submit"><i class="fas fa-door-open"></i> Registration</button>
      </form>
      <div class="created">
        <p>Created by <a href="https://codepen.io/kelvinqueiroz/">Medwise groupe</a></p>
      </div>
    </div>
    <div class="background">
      <h1></h1>
    </div>
  </div>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->