  .container {
    padding-top: 65px;
    padding-left: 21%;
    height: 10vh;
  }
  
.form-container {
    width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff; /* Add a white background color for better contrast */
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  .champ-text {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .champ-text input[type="text"] {
    width: 200px;
    height: 20px;
}

.champ-text input[type="number"] {
  width: 65px;
  height: 20px;
}

.form-container > div {
  margin-bottom: 20px; /* Ajustez la marge inférieure selon vos besoins */
}